@mixin flexDisplay($aline, $jContent) {
  display: flex;
  align-items: $aline;
  justify-content: $jContent;
}

%left-paragraph {
  text-align: left;
  width: 100%;
}

.todoContainer {
  @include flexDisplay(left, baseline);
  flex-direction: column;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  position: relative;
  padding: 0 1rem;

  .todoHeader {
    padding: 2rem 0;
    color: rgba(15, 17, 179, 0.8);
    
    h1 {
      font-size: 2rem;

    }
    p {
      font-size: 1rem;
    }
  }

  // form
  .todoForm {
    width: 100%;

    input {
      padding: 0.5rem 1rem;
      width: 82%;
      outline-style: none;
    }
    button {
      margin-left: 2%;
      padding: 0.5rem 1rem;
    }
  }

  .dice {
    @include flexDisplay(center, center);
   
    flex-direction: column;
    padding-top:2.5rem ;

    .diceIcon {
      font-size: 3rem;
      color: rgba(15, 17, 179, 0.8);
      padding-bottom: 1rem;
    }
  }
  // List Container
  .mainContainer {
    padding: 1rem 0;
 
    height: 70%;
    .listCon {
      height: 48%;
     
      overflow:hidden;
      .remain{
        margin: 3% 0 1% 0;
      }
      .todoListContainer {
       max-height:84%;
       overflow-y: auto;
        overflow-x: hidden;
        
      }
      .listContianer{
        @include flexDisplay(center, baseline);
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0.5rem;
        margin-top: 0.5rem;
        position: relative;
        input{
          margin-right: 1rem;
        }
        .trashIcon{
          position: absolute;
          right:0;
          background-color:red;
          color:#fff;
          padding: 0.5rem;
        }
      }
    }
  }
  .btnHolder {
    @include flexDisplay(center, center);
    position: absolute;
    bottom: 0.5rem;
    // background-color:pink;
    width: 90%;
    
    button{
      background-color: rgb(255, 255, 255, 0.7);
      padding: 0.5rem;
      outline: none;
      color: rgb(0, 0, 0);
      border: 2px solid rgb(255, 255, 255, 0.7);
      margin: 5px;
      
      &:hover{
        border-bottom: 2px solid rgba(110, 1, 1, 0.8);
        border-top:  2px solid rgb(255, 255, 255, 0.7);
        border-right:  2px solid rgb(255, 255, 255, 0.7);
        border-left:  2px solid rgb(255, 255, 255, 0.7);
      }

    }
    
  }

}
